.socmed {
  display: inline-flex;
  align-items: center;

  width: 1.25rem;
  aspect-ratio: 1;

  --_text-color: var(--text-color);
  --text-color: var(--text-color-socmed);

  > svg path {
    fill: var(--_text-color);
    transition-property: fill;
    transition-duration: 0.15s;
  }

  &:hover,
  &:focus {
    --text-color: var(--text-color-socmed-hover);
  }
}
