$breakpoints: (
  "xs": calc(384 / 16 * 1rem),
  "sm": calc(640 / 16 * 1rem),
  "md": calc(768 / 16 * 1rem),
  "lg": calc(1024 / 16 * 1rem),
  "xl": calc(1280 / 16 * 1rem),
  "2xl": calc(1536 / 16 * 1rem),
);
