@use "../../scss/abstracts/z-index" as abs;

.header {
  position: relative;
  z-index: 0;

  padding: 4rem var(--x-padding);
}

.bg {
  display: none;

  @include abs.min-width("md") {
    display: block;
    position: absolute;
    top: calc(0% - 2.5rem);
    right: calc(0% - 3.125rem);
    z-index: -1;
  }

  @include abs.min-width("xl") {
    right: 0;
  }
}

.grid {
  display: grid;
  row-gap: clamp(4rem, 0rem + 16.6667vw, 8rem);

  > nav {
    display: flex;
  }
}

.content {
  display: grid;
  row-gap: 2.5rem;

  @include abs.min-width("md") {
    > h1 {
      max-width: clamp(26rem, -22rem + 100vw, 58rem);
    }

    > p {
      max-width: clamp(31.5rem, 9.75rem + 45.3125vw, 46rem);
    }
  }
}
